@use "normalize.css";

@use 'element-plus/theme-chalk/dark/css-vars.css';

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

#app {
  width: 100%;
  height: 100%;
}